.nav-main-wrap {
    display: none;
    float: left;
    margin-top: rem-calc(26);
    ul {
        li {
            float: left;
            display: inline-block;
            text-transform: uppercase;
            margin-top: rem-calc(15);
            margin-right: rem-calc(0);
            font-family: 'Arial';
            font-weight: 800;
            font-size: rem-calc(17);
            @media (max-width: 1300px) {
                margin-right: rem-calc(0);
                font-size:rem-calc(14);
            }
            a {
                padding: rem-calc(30);
                background-color: #fff;
                -webkit-transition: all 500ms;
                transition: all 500ms;
                &:hover {
                    background-color:$secondary-color;
                    color: #fff;
                    border-radius: 5px;
                }
            }
        }
    }
    @media (min-width: 1080px) {
        display: block;
    }
}

.nav-mobile-wrap {
    @media (min-width: 1080px) {
        display: none;
    }
}

i.nav-mobile-toggle {
    position: absolute;
    top: 50%;
    right: rem-calc(15);
    z-index: 10;
    display: inline-block;
    margin-top: rem-calc(26 / -2);
    color: black;
    font-size: rem-calc(26);
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        color: lighten(black, 15%);
    }
}

.nav-mobile {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    display: none;
    clear: both;
    margin: 0;
    width: 100%;
    border-top: 1px solid rgba(black, 0.5);
    text-align: center;
    text-transform: uppercase;
    font-size: rem-calc(15);
    font-family: $header-font-family;

    li {
        display: block;
        background: $primary-color;
        a {
            display: block;
            padding: rem-calc(10 24);
            color: $white;
            transition: all 0.3s ease;

            &:hover,
            &:focus {
                outline: 0;
                background: $secondary-color;
            }
        }
    }

    .sub-menu {
        margin: 0;
        border-top: 1px solid rgba(black, 0.25);
        border-bottom: 1px solid rgba(black, 0.25);
        background: rgba(black, 0.15);
        font-size: rem-calc(13);
    }
}





    @include breakpoint(small only) { 


        i.nav-mobile-toggle {
          top: 32%;
          right: 5%;
          font-size: 2.625rem;
        } 

    }












